* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
main {
    margin-left: 10px;
}

.botones {
    margin: 10px 0px;
}

td {
    align-items: center;
}

.tabla-usuarios a:hover {
    color: white;
}

.cosas-usuarios {
    display : flex;
}

footer {
    background: black;
}

.objeto {
    margin: 5px;
}

.hola {
    display: flex;
}

.tarjetas {
    width: 70%;
}

