<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cinefilos</title>
</head>
<body>
<div>
    <h2>Nueva pelicula</h2>
    <form th:action="@{/pelicula/creada}" th:object="${pelicula}" method="post" enctype="multipart/form-data">
        <input hidden th:field="*{id}">
        <div class="user-box">
            <input type="text" name = "titulo" th:field = "*{titulo}">
            <label>Titulo</label>
        </div>
        <div class="user-box">
            <input type="text" name = "director" th:field = "*{director}">
            <label>Director</label>
        </div>
        <div class="user-box">
            <input type="text" name = "sinopsis" th:field = "*{sinopsis}">
            <label>Sinopsis</label>
        </div>
        <div class="user-box">
            <input type="number" name = "duracion" th:field = "*{duracion}">
            <label>Duracion</label>
        </div>
        <div class="user-box">
            <input type="text" name = "genero" th:field = "*{genero}">
            <label>Genero</label>
        </div>
        <div class="user-box">
            <input type="number" name = "anio" th:field = "*{anio}">
            <label>Año</label>
        </div>
        <div class="user-box">
            <input type="file" name = "archivo" th:field = "*{foto}">
            <label>Poster</label>
        </div>
        <button type="submit" class="boton">Submit</button>
    </form>
</div>
</body>
</html>