<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Red social de cine</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)"><img src="/logo.png" width="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                        <a class="nav-link" th:case="${false}" th:href="@{/iniciar}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item dropdown" th:if="${#authentication}? ${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="${#authentication.getName}"></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item link-danger" th:href="@{/personal}">Mi feed</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/usuario/{username} (username = ${#authentication.getName})}">Mi perfil</a></li>
                            <li class="nav-item" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                                <a class="dropdown-item link-danger" th:case="${true}" th:href="@{/logout}">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/pelicula/ver-todas/0}">Ver todas</a>
                    </li>
                    <div sec:authorize-url="/pelicula/todas">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/pelicula/todas}">Administrar peliculas</a>
                        </li>
                    </div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Géneros</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = acción)}">Acción</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = aventura)}">Aventura</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = cienciaficción)}">Ciencia ficción</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = comedia)}">Comedia</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = documental)}">Documental</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = drama)}">Drama</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = fantasía)}">Fantasía</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = musical)}">Musical</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = suspenso)}">Suspenso</a></li>
                            <li><a class="dropdown-item link-danger" th:href="@{/pelicula/{genero} (genero = terror)}">Terror</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Buscar">
                    <button class="btn btn-outline-danger" type="button">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<body>
<h2 th:text="${usuarioAMostrar.username}"></h2>
<p th:text="${usuarioAMostrar.getPuntaje()}"></p>
<form th:action="@{/usuario/{username}/seguir (username = ${usuarioAMostrar.username})}" method="post">
    <button type="submit" class="boton">Seguir</button>
</form>
<h3>Reseñas</h3>
<div th:each="comentario : ${comentarios}">
    <p th:text="${comentario.pelicula.titulo}"></p>
    <p th:text="${comentario.texto}"></p>
</div>
<h3>Favoritas</h3>
<div th:each="favorita : ${usuarioAMostrar.peliculasFavoritas}">
    <a th:href="@{/pelicula/detalles/{id} (id = ${favorita.id})}" th:text="${favorita.titulo}"></a>
</div>
<h3>Por ver</h3>
<div th:each="porVer : ${usuarioAMostrar.peliculasPorVer}">
    <a th:href="@{/pelicula/detalles/{id} (id = ${porVer.id})}" th:text="${porVer.titulo}"></a>
</div>
</body>
</html>