<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${pelicula}">
    <p th:text="*{titulo}"></p>
    <p th:text="*{director}"></p>
    <p th:text="*{sinopsis}"></p>
</div>

<div th:object="${valoracion}">
    <p th:text="*{promedio}"></p>
</div>

<div>
    <form th:action="@{/pelicula/detalles/{idP}/valorar (idP=${pelicula.id})}" th:object="${valoracion}" method="post">
        <select th:field="*{ultima}">
            <option th:value="1" th:text="1"></option>
            <option th:value="2" th:text="2"></option>
            <option th:value="3" th:text="3"></option>
            <option th:value="4" th:text="4"></option>
            <option th:value="5" th:text="5"></option>
        </select>
        <button type="submit" class="boton">Submit</button>
    </form>
</div>
<h2>Comentarios</h2>
<div th:each="comentario : ${comentarios}">
    <div>
        <p th:text="${comentario.usuario.username}"></p>
        <p th:text="${comentario.texto}"></p>
        <a th:href="@{/pelicula/detalles/{idP}/comentario/{idC} (idP=${pelicula.id}, idC=${comentario.id})}">Responder</a>
    </div>
</div>
<h2>Nuevo comentario</h2>
<form th:action="@{/pelicula/detalles/{idP}/nuevo (idP = ${pelicula.id})}" th:object="${comentario}" method="post">
        <input hidden th:field="*{id}">
    <div class="user-box">
        <input type="text" name = "texto" th:field = "*{texto}">
    </div>
    <button type="submit" class="boton">Submit</button>
</form>
</body>
</html>